<link rel="stylesheet" href="/css/pic.css">
<!DOCTYPE html>
<html>
<body>
<h2><%= sirname %> <%= firstname %> <%= lastname %> thank you for your order of a <%= pizzacrust %> crust pizza with <%= toppings1 %> <%= toppings2 %> <%= toppings3 %> <%= toppings4 %> with a <%= drink %></h2>
<br>

<h3>if this order is corect please hit the submit order button below </h3>

<input type="button" onclick="alert('thank you for your order it should be ready in 20 - 30 minuets ')" value="submit order">
